@import "base";

#admin-bar {
  font: 14px/20px arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #EEE;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 2px 1px #666;
  @include background-image(linear-gradient(
                              bottom, rgb(222,222,222) 25%, rgb(247,247,247) 63%));
  &> div {
    box-sizing: border-box;
    padding: 6px 15px;
    @include clearfix;
  }
  .brand {
    float: left;
    line-height: 20px;
    vertical-align: middle;
    margin: 3px 40px 0 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin-right: 20px;
      padding: 0;
      line-height: 30px;
      img {
        vertical-align: middle;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .pull-right {
    float: right;
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 200;
  }
}