@import "base";

html {
  margin-top: 32px !important;
}

#monsti--admin-bar {
  font: 12px/18px arial, sans-serif;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  background: #EEE;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #aaa;
  @include background-image(linear-gradient(
                              bottom, rgb(222,222,222) 25%, rgb(247,247,247) 63%));
  &> div {
    box-sizing: border-box;
    padding: 0px 15px;
    @include clearfix;
  }
  .brand {
    float: left;
    vertical-align: middle;
    margin: 2px 40px 0 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      margin: 0 20px 0 0;
      padding: 0;
      line-height: 30px;
      img {
        vertical-align: middle;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .pull-right {
    float: right;
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 200;
  }
  .admin-bar-item-inactive {
    opacity: 0.5;
  }
}

.current-node {
  margin: 0;
  float: left;
  line-height: 30px;
  margin-left: 30px;
}

.current-node-title {
  font-style: italic;
}