@import "compass/reset";
@import "layout";

$default-border-radius: 2px;

.site-wrap {
  background: white;
  padding: 0 50px 25px 50px;
  min-height: 100%;
}

.site-wrap-slim {
  min-height: auto;
  padding: 0;
}

#admin-bar {
  position: absolute;
  top: 0;
  @include clearfix;
  margin-bottom: 30px;
}

.content-wrap {
  padding-top: 60px;
}

.content-wrap-slim {
  padding: 15px;
}

.node-list {
  .node-list-actions li {
    @include inline-block;
  }
  li {
    margin: 15px 0;
    .node-list-inner-wrap {
      background: $widget-background;
      border: 1px solid $border-color;
      padding: 10px;
    }
    .node-list-order {
      display: none;
    }
    .node-list-name {
      @include inline-block;
      width: 30%;
      a {
        text-decoration: none;
      }
    }
  }
  li[draggable=true] {
    cursor: move;
  }
  &.drag-active li[draggable=true] {
    * {
      pointer-events: none;
    }
    padding-top: 0px;
    padding-bottom: 0px;
    &.drag-start {
      opacity: 0.5;
    }
    &.drag-over{
      $list-item-height: 15px;
      &.drag-after, &.drag-before {
        position: relative;
        &::after, &::before {
          display: none;
          position: absolute;
          content: "";
          height: $list-item-height;
          width: 100%;
          border: 1px dotted $primary-color;
          background: #EEE;
        }
      }
      &.drag-after {
        margin-bottom: $list-item-height + 10px;
        &::after {
          display: block;
          bottom: -$list-item-height - 5px;
        }
      }
      &.drag-before {
        margin-top: $list-item-height + 10px;
        &::before {
          display: block;
          top: -$list-item-height - 5px;
        }
      }
    }
  }
}

.alert {
  border: 1px solid black;
  padding: 15px 20px;
  @include border-radius(5px);
  margin: 20px 0;
}

@mixin alert($color) {
  background: $color;
  border-color: darken($color, 10);
  color: darken($color, 60);
  strong {
    color: darken($color, 70);
  }
}

.alert-success {
  @include alert(#DFF0D8);
}

.alert-warning {
  @include alert(#FCF8E3);
}

.chooser-back {
  text-decoration: none;
  margin-right: 5px;
  color: black;
}

.chooser-current-path {
  @include inline-block;
  margin-right: 15px;
}

.chooser-back, .chooser-current-path-element {
  @include inline-block;
  padding: 5px;
  background: $widget-background;
  border: 1px solid $border-color;
  @include border-radius;
  min-width: 15px;
  text-align: center;
}

.chooser-current-path-link {
  display: block;
  margin: -5px;
  padding: 5px;
  text-decoration: none;
}

.chooser-back, .chooser-current-path-link {
  &:hover {
    background-color: $widget-hover-background;
  }
}

.chooser-image {
  @include inline-block;
  width: 152px;
  margin-top: 20px;
  margin-right: 20px;
  img {
    border: 1px solid #555;
  }
}

.chooser-image-name {
  display: block;
}