@import "base";

#primary-nav {
  ul {
    list-style:none;
    background: #EEE;
    border: thin solid $border-color;
    overflow:hidden;
    margin-bottom: 20px;
    padding-left: 35px;
  }
  li {
    @include inline-block;
    padding:0;
    margin:0;
    &.active-below.child, &.active{
      background:#ddd;
    }
    &:first-child a {
    border-left:thin solid gray;
    }
  }
  a {
    color: #333;
    padding:0.5em 1em;
    display:block;
    border-right:thin solid gray;
    text-decoration:none;
    &:hover {
      background: $secondary-color;
      color: white;
    }
  }
}

#content-wrap {
  display: table;
  width: 100%;
}

#sidebar, #main {
  vertical-align: top;
  padding-bottom: 75px;
}

#sidebar {
  border-left: none;
  box-sizing: border-box;
  width: 33.33%;
  display: table-cell;
  background: #EEE;
  padding-top: 50px;
}

#main {
  display: table-cell;
  width: 66.66%;
  padding-right: 50px;
  box-sizing: border-box;
}


#content {
}

