@import "base";

body {
  padding:0;
  margin:0;
}

#top-wrap, #bottom-wrap {
  max-width:960px;
  margin:0 auto;
  @include clearfix;
}

#primary-nav {
  ul {
    margin:2em 0 0 -1em;
    list-style:none;
    padding:0;
  }
  li {
    @include inline-block;
    padding:0;
    margin:0;
  }
  a {
    padding:0.5em 1em;
    display:block;
  }
}

#sidebar {
  width:20%;
  float:right;
}

#content {
  width:80%;
  float:left;
}

fieldset {
  border:0;
  padding:0;
  margin:0;
}

form {
  label, .help {
    display:block;
    margin-top:0.8em;
    line-height:1.5em;
    &:hover {
      cursor:pointer;
    }
  }
  .buttons {
    margin-top:1em;
  }
}
