@import "base";

.header-wrap {
  background: #EEE;
  border-bottom: 3px solid #DDD;
}

header {
  padding-top: 10px;
  @include breakpoint(medium) {
    padding-top: 20px;
  }
}


.site-logo {
  display: block;
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
  }
  @include breakpoint(medium) {
    margin-bottom: 30px;
  }
}

.primary-nav {
  ul {
    margin-left: -15px;
    padding: 0;
    margin-top: 10px;
    list-style:none;
    margin-bottom: -3px;
  }
  li {
    @include inline-block;
    padding: 0;
    margin: 0;
    margin-right: 4px;
    &.active-below.child, &.active{
      a {
        border-bottom: 3px solid $secondary-color;
      }
    }
    &:first-child a {
    }
  }
  a {
    padding: 0 15px;
    color: $primary-color;
    font-weight: bold;
    display:block;
    text-decoration:none;
    border-bottom: 3px solid rgba($primary-color, 0.2);
    &:hover {
      border-bottom: 3px solid $primary-color;
    }
  }
}

body {
  header, .main-and-aside-wrap, footer {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
  }
}

footer {
  border-top: 1px solid #DDD;
}

@include breakpoint(medium) {
  .main-and-aside-wrap {
    max-width: 1000px;
    display: table;
    width: 100%;
    padding-bottom: 30px;
  }
  main, .sidebar {
    display: table-cell;
    vertical-align: top;
    padding-top: 20px;
  }
  main {
    width: 66.6%;
  }
  .sidebar {
    width: 33.4%;
  }
}