{{define "navLinks"}}
{{with .}}
{{range .}}<li class="{{if .ActiveBelow}}nav-active-below {{end}}{{if .Child}}nav-child {{end}}{{if .Active}}nav-active{{end}}"><a href="{{.Target}}" class="nav-link nav-link-level-{{.Level}}"><span class="nav-name">{{.Name}}</span></a><ul class="nav-links nav-links-level-{{.Level}}">{{template "navLinks" .Children}}</ul></li>{{end}}
{{end}}
{{end}}
<nav class="nav-{{.Id}}">
  <ul class="nav-links nav-links-level-0">
    {{template "navLinks" .Links}}
  </ul>
</nav>
