<h2>HTML / WYSIWYG</h2>
<p>
{{(index .Node.Fields "example.HTMLArea").RenderHTML}}
</p>

<h2>Text</h2>
<p>
{{(index .Node.Fields "example.Text").RenderHTML}}
</p>

<h2>DateTime</h2>
<p>
{{template "utils/date" (index .Node.Fields "example.DateTime").Value}}
{{template "utils/time" (index .Node.Fields "example.DateTime").Value}}
</p>

<h2>Bool fields</h2>
<p>
Field is {{if not ((index .Node.Fields "example.Bool").Bool)}}un{{end}}checked!
</p>

<h2>Hidden fields</h2>
<p>
{{(index .Node.Fields "example.Hidden")}}
</p>

<h2>List (i.e. repeatable) fields (no GUI yet)</h2>
<p>
  {{range ((index .Node.Fields "example.TextList").Value)}}
  {{.Value}}<br>
  {{end}}
</p>

<h2>Map fields (no GUI yet)</h2>
<p>
  {{range $key, $value := ((index .Node.Fields "example.Map").Value)}}
  {{$key}}: {{$value.Value}}<br>
  {{end}}
</p>

<h2>Combined fields (no GUI yet)</h2>
<p>
  {{range $key, $value := ((index .Node.Fields "example.Combined").Value)}}
  {{$key}}: {{$value.Value}}<br>
  {{end}}
</p>
