<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script type="text/javascript">
     <!--
     monsti = {
       session: {
         locale: "{{ .Session.Locale }}",
       },
     };
     -->
    </script>
    {{template "blocks/headers" .}}
  </head>
  <body {{if .Page.SlimView}}class="slim-view"{{end}}>
    {{if not .Page.SlimView}}
    {{template "blocks/admin-bar" .}}
    {{end}}
    <div class="site-wrap {{if .Page.SlimView}}site-wrap-slim{{end}}">
      <div class="content-wrap {{if .Page.SlimView}}content-wrap-slim{{end}}">
        <article>
          {{if not .Page.SlimView}}
          <h1 class="page-title">{{.Page.Title}}</h1>
          {{end}}
          <div class="content">
            {{.Page.Content}}
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
