<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{template "blocks/headers" .}}
  </head>
  <body {{if .Page.SlimView}}class="slim-view"{{end}}>
    {{if not .Page.SlimView}}
    {{template "blocks/admin-bar" .}}
    {{end}}
    <div id="site-wrap">
      <div id="content-wrap">
        <article>
          {{if not .Page.SlimView}}
          <h1 id="page-title">{{.Page.Title}}</h1>
          {{end}}
          <div id="content">
            {{.Page.Content}}
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
