{{if .Session.User}}
<div id="monsti--admin-bar" class="monsti--admin-bar">
  <div>
    <p class="brand">
      <img src="/static/img/logo_small.png" alt="Monsti CMS"/>
    </p>
    {{$path := .Page.Node.Path}}
    <ul class="nav">
      {{$inactive := eq .Page.Node.Type.Id "core.Path"}}
      <li class="{{if $inactive}}admin-bar-item-inactive{{end}}">
        {{if not $inactive}}
        <a href="{{$path}}"
           >{{end}}<img src="/static/img/icons/silk/layout_content.png"/>
        {{G "View"}}{{if not $inactive}}</a>{{end}}</li>
      <li class="{{if $inactive}}admin-bar-item-inactive{{end}}">
        {{if not $inactive}}
        <a href="{{pathJoin $path "@@edit"}}"
        >{{end}}<img src="/static/img/icons/silk/page_white_edit.png"/>
        {{G "Edit"}}{{if not $inactive}}</a>{{end}}</li>
      <li><a href="{{pathJoin $path "@@list"}}"
        ><img src="/static/img/icons/silk/page_white_stack.png"/>
        {{G "List"}}</a></li>
      <li class="{{if $inactive}}admin-bar-item-inactive{{end}}">
        {{if not $inactive}}
        <a href="{{pathJoin $path "@@add"}}"
        >{{end}}<img src="/static/img/icons/silk/page_white_add.png"/>
          {{G "Add"}}{{if not $inactive}}</a>{{end}}</li>
      <li class="{{if $inactive}}admin-bar-item-inactive{{end}}">
        {{if not $inactive}}
        <a href="{{pathJoin $path "@@remove"}}"
        >{{end}}<img src="/static/img/icons/silk/page_white_delete.png"/>
          {{G "Remove"}}{{if not $inactive}}</a>{{end}}</li>
    </ul>
    <ul class="nav pull-right">
      <li><a href="{{pathJoin $path "@@settings"}}"
        ><img src="/static/img/icons/silk/wrench.png"/>
        {{G "Settings"}}</a></li>
      <li><a href="{{pathJoin $path "@@change-password"}}"
        ><img src="/static/img/icons/silk/key.png"/>
        {{G "Change password"}}</a></li>
      <li><a href="{{pathJoin $path "@@logout"}}"
        ><img src="/static/img/icons/silk/stop.png"/>
        {{G "Logout"}}</a></li>
    </ul>
  </div>
</div>
{{end}}
