{{if .}}
<link rel="stylesheet" href="/static/aloha/css/aloha.css" type="text/css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script src="/static/aloha/lib/require.js"></script>
<script src="/static/aloha/lib/aloha.js"
    data-aloha-plugins="common/ui,common/format,common/image,common/list,common/table,common/link"></script>
<script type="text/javascript" src="/static/js/editor.js"></script>
{{end}}
