<script src="//cdn.ckeditor.com/4.4.7/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/editor.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/admin_bar.css" type="text/css">
<link rel="stylesheet" href="/static/css/admin.css" type="text/css">
<script src="/static/lib/webshim/js-webshim/minified/polyfiller.js"></script>
<script>webshims.polyfill();</script>
