<div id="sidebar">
    <div id="sidebar-bg">
        <div id="sidebar-bgtop">
            <div id="sidebar-bgbtm">
                {{if .Page.ShowSecondaryNav}}
                <Div id="box2" class="box-style1">
                    <div>
                        <div id="local-navigation">
                            <ul class="nav nav-pills nav-stacked">
                                {{range .Page.SecondaryNav}}
                                <li {{if .Active}}class="active"{{end}}>
                                <a href="{{.Target}}"><span>{{.Name}}</span></a>
                                </li>
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{end}}
                {{with .Page.Sidebar}}
                <div id="box2" class="box-style1">
                    <div>
                        <div>
                            {{.}}
                        </div>
                    </div>
                </div>
                {{end}}
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
