<form class="form-horizontal" action="" method="POST" accept-charset="utf-8">
    <fieldset>
        <div class="control-group {{#Name:error}}error{{/Name:error}}">
            <label class="control-label"
                for="name">{{#_}}Name{{/_}}</label>
            <div class="controls"><input id="name" type="text" name="Name"
                value="{{Name}}"/><span class="help-block">{{:error}}{{Name:error}}</span></div>
        </div>
        <div class="control-group {{#Title:error}}error{{/Title:error}}">
            <label class="control-label" for="title">{{#_}}Title{{/_}}</label>
            <div class="controls"><input id="title" type="text" name="Title"
                value="{{Title}}"/><span class="help-block">{{Title:error}}</span></div>
        </div>
        <div class="control-group {{#Type:error}}error{{/Type:error}}">
            <label class="control-label" for="type">{{#_}}Type{{/_}}</label>
            <div class="controls"><input id="type" type="text" name="Type"
                value="{{Type}}"/><span class="help-block">{{Type:error}}</span></div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">{{#_}}Add{{/_}}</button>
            </div>
        </div>
    </fieldset>
</form>
