<article>
  {{if .Parent}}
  <a class="node-browse-back" href="{{pathJoin .Parent.Path "@@browse"}}">◀</a>
  {{end}}
  <ul class="node-browse-current-path">
    {{range .SplittedPath}}
    <li class="node-browse-current-path-element">
      {{if .Parent}}<a class="node-browse-current-path-link"
                       href="{{pathJoin .Path "@@browse"}}">{{end}}
      {{.Name}}
      {{if .Parent}}</a>{{end}}
    </li>
    {{end}}
  </ul>
  {{with .Children}}
  <table class="node-browse-table">
    <tr>
      <th>{{G "Name"}}</th>
      <th>{{G "Title"}}</th>
      <th>{{G "Action"}}</th>
    </tr>
    {{range .}}
    <tr>
      <td class="node-browse-table-name">
        <a href="{{pathJoin .Path "@@browse"}}">{{.Name}}</a>
      </td>
      <td class="node-browse-table-title">
        {{with .GetField "core.Title"}}{{.RenderHTML}}{{end}}
      </td>
      <td class="node-browse-table-action">
        <button data-path="{{.Path}}" class="node-browse-select">
          {{G "Select"}}</button>
      </td>
    </tr>
    {{end}}
  </table>
  {{else}}
  <p>
  {{G "This node doesn't have any child nodes."}}
  </p>
  {{end}}

  <script type="text/javascript" src="/static/js/browse.js"></script>
</article>
