<article>
  <h1>{{.Page.Title}}</h1>
  {{if .Parent}}
  <p>
    <strong>{{G "Parent node:"}}</strong>
    <a href="{{pathJoin .Parent.Path "@@list"}}">
      {{with index .Parent.Fields "core.Title"}}{{.RenderHTML}}{{else}}
      {{with .Parent.Name}}[{{.}}]{{else}}/{{end}}
      {{end}}</a>
  </p>
  {{end}}
  {{with .Children}}
  <form method="POST">
    <ul class="node-list">
      {{range .}}
      <li>
        <div class="node-list-inner-wrap">
          <span class="node-list-name">
            <a href="{{pathJoin .Path "@@list"}}">{{.Name}}</a>
          </span>
          <span class="node-list-title">
            {{with index .Fields "core.Title"}}{{.RenderHTML}}{{end}}
          </span>
          <input class="node-list-order" type="text" name="order-{{.Name}}"
                 value="{{.Order}}" size="2">
        </div>
      </li>
      {{end}}
    </ul>
    <button name="submit">{{G "Submit"}}</button>
  </form>
  {{else}}
  {{G "This node doesn't have any child nodes."}}
  <img src="/static/img/icons/silk/page_white_add.png"/>
  <a href="{{pathJoin .Node.Path "@@add"}}"
    >{{G "Add a new child node."}}</a>
  {{end}}

  <script type="text/javascript" src="/static/js/list-order.js"></script>
</article>
