<form class="form" action="" method="POST" accept-charset="utf-8">
    <fieldset>
        {{range .Form.Fields}}
		{{.Input}}
        {{end}}
        <div class="control-group">
			<p class="alert alert-error">{{G "WARNING: You are about to remove this content and all content below."}}
			{{G "The removed content will be lost, so be careful!"}}</p>
		</div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-danger">{{G "Proceed"}}</button>
                <a href="{{.Node.Path}}" class="btn btn-abort">{{G "Abort"}}</a>
            </div>
        </div>
    </fieldset>
</form>
