<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/brassica.css" />
    <meta charset="utf-8" />
    <title>{{#Node}}{{Title}}{{/Node}}</title>
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/static/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/brassica.css" />
    <link rel="stylesheet" type="text/css" href="/site-static/css/site.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="top-wrap">
      <div id="header-wrap">
        <div id="header" class="container">
	  <img id="butterfly" alt="Schmetterling"
               src="/site-static/images/butterfly.png"/>
          <div id="logo">
            <a href="/"><img alt="Logo" src="/site-static/images/logo.png"/></a>
          </div>
          <div id="primary-navigation-wrap">
            <div id="primary-navigation">
              <ul>
                {{#PrimaryNav}}
                <li {{#Active}}class="active"{{/Active}}>
                  <a href="{{Target}}"><span>{{Name}}</span></a>
                </li>
                {{/PrimaryNav}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="below-header-wrap">
        <div id="below-header" class="container">
          <div>
            {{{BelowHeader}}}
          </div>
        </div>
      </div>
      <div id="content-wrap" class="container">
        <div id="messages" class="">
        </div>
        {{#ShowSidebar}}
        <div id="sidebar">
          <div id="sidebar-bg">
            <div id="sidebar-bgtop">
              <div id="sidebar-bgbtm">
                {{#SecondaryNav}}
                <Div id="box2" class="box-style1">
                  <div>
                    <div id="local-navigation">
                      <ul class="nav nav-pills nav-stacked">
                        {{#SecondaryNav}}
                        <li {{#Active}}class="active"{{/Active}}>
                          <a href="{{Target}}"><span>{{Name}}</span></a>
                        </li>
                        {{/SecondaryNav}}
                      </ul>
                    </div>
                  </div>
                </div>
                {{/SecondaryNav}}
                {{#Sidebar}}
                <div id="box2" class="box-style1">
                  <div>
                    <div>
                      {{{Sidebar}}}
                    </div>
                  </div>
                </div>
                {{/Sidebar}}
                <div class="clearfix">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        {{/ShowSidebar}}
        <div id="content" {{^show-sidebar}}class="without-sidebar"{{/show-sidebar}}>
          <article class="document-view content">
          <h1>{{#Node}}{{Title}}{{/Node}}</h1>
            <p class="description">
              {{#Node}}{{Description}}{{/Node}}
            </p>
            <div class="body">
              {{{Content}}}
            </div>
          </article>
        </div>
      </div>
      <div id="footer-push"></div>
    </div>
    <div id="bottom-wrap">
      <div id="footer-wrap">
        <div id="footer">
          {{{Footer}}}
        </div>
      </div>
    </div>
  </body>
</html>
