<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{template "blocks/headers" .}}
    <link rel="stylesheet" type="text/css" href="/static/css/monsti.css" />
    <link rel="stylesheet" type="text/css" href="/site-static/css/site.css" />
    <link rel="shortcut icon" href="/site-static/favicon.png" />
  </head>
  <body id="{{.Page.Node.PathToID}}">
    {{template "blocks/admin-bar" .}}
    <div id="site-wrap">
      <div id="top-wrap">
        <div id="header-wrap">
          <div id="header">
            <div id="site-title">
              <a href="/">{{.Site.Title}}</a>
            </div>
            <div id="primary-nav-wrap">
              {{template "blocks/primary-navigation" .Page.PrimaryNav}}
            </div>
          </div>
        </div>
        <div id="content-wrap">
          <div id="messages">
          </div>
          <div id="sidebar">
            {{template "blocks/secondary-navigation" .}}
          </div>
          <div id="content">
            <div class="body">
              {{.Page.Content}}
            </div>
          </div>
        </div>
      </div>
      <div id="bottom-wrap">
        <div id="footer-wrap">
          <div id="footer">
            <p id="attribution">Powered by
              <a href="http://www.monsti.org">Monsti</a>
          </div>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
