<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {{template "blocks/headers" .}}
    <link rel="stylesheet" type="text/css" href="/static/css/monsti.css" />
    <link rel="stylesheet" type="text/css" href="/site-static/css/site.css" />
    <link rel="shortcut icon" href="/site-static/favicon.png" />
  </head>
  <body id="{{.Page.Node.PathToID}}" class="node-type-{{.Page.Node.TypeToID}}">
    {{template "blocks/admin-bar" .}}
    <div id="site-wrap">
      <div id="top-wrap">
        <div id="header-wrap">
          <div id="header">
            <div id="site-title">
              <a href="/">{{.Site.Title}}</a>
            </div>
            <div id="primary-nav">
              {{template "blocks/navigation" .Page.PrimaryNav}}
            </div>
          </div>
        </div>
        <div id="content-wrap">
          <div id="messages">
          </div>
          <div id="main">
            {{.Page.Content}}
          </div>
          <div id="sidebar">
            {{if .Page.ShowSecondaryNav}}
            <div id="secondary-nav">
              {{template "blocks/navigation" .Page.SecondaryNav}}
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div id="bottom-wrap">
        <div id="footer-wrap">
          <div id="footer">
            <p id="attribution">Powered by
              <a href="http://www.monsti.org">Monsti</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
