<h2>Termine</h2>
<ul class="events events-upcoming">
  {{range .UpcomingEvents}}
  <li>
    <div class="description">
        <span class="date">
          {{with (.GetValue "core.StartTime").Time}}{{.Format "2.1.2006, 15:04 Uhr"}}{{end}}
        </span>
        <span class="title">
          <a href="{{.Name}}">{{(.Node.GetField "core.Title").RenderHTML}}</a>
        </span>
    </div>
  </li>
  {{end}}
</ul>

<h2>Vergangene Aktionen</h2>
<ul class="events events-past">
  {{range .PastEvents}}
  <li>
    <a class="icon" href="{{.Name}}/">
      {{with .Image}}
      <img src="{{.Path}}?size=small_thumbnail">
      {{else}}
      <div class="no-icon"></div>
      {{end}}
    </a>
    <div class="description">
        <span class="date">
          {{with (.GetValue "core.StartTime").Time}}{{.Format "2.1.2006, 15:04 Uhr"}}{{end}}
        </span>
        <span class="title">
          <a href="{{.Name}}">{{(.GetField "core.Title").RenderHTML}}</a>
        </span>
    </div>
  </li>
  {{end}}
</ul>
